<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>htms</display-name>
	<context-param>
		<param-name>servletPackages</param-name>
		<param-value>cn.wizool.htms.servlet</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>script</servlet-name>
		<servlet-class>org.flycloud.web.ScriptServlet</servlet-class>
		<init-param>
			<param-name>path</param-name>
			<param-value>./root/</param-value>
		</init-param>
	</servlet>
	
	<listener>
		<listener-class>cn.wizool.htms.iwebutil.ServletCreateListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>-1</session-timeout>
	</session-config>
</web-app>
